@import "tailwindcss";

@theme {
  --color-white: #FFFFFF;
  --color-dark: #292929;
  --color-light: #F2F2F2;
  --color-primary: #091B40;
  --color-secondary: #8C1B6E;
  --color-tertiary: #05DBF2;
  --color-valid: #28A745;
  --color-invalid: #DC3545;
}

@layer base {
  body {
    @apply bg-primary text-white font-sans;
  }

  main {
    @apply min-h-screen p-4 lg:p-8 text-dark;
  }
  
  h1 {
    @apply text-4xl font-bold mb-6;
  }

  h2 {
    @apply text-2xl font-semibold text-secondary mt-4 mb-2;
  }
} 

@layer components {
  .btn {
    @apply rounded py-2 px-4 border transition-colors duration-300 font-semibold shadow-md cursor-pointer;
  }

  .btn:disabled {
    @apply opacity-50 cursor-default pointer-events-none;
  }

  .btn-primary {
    @apply border-primary bg-primary text-light ;
  }

  .btn-secondary {
    @apply border-secondary bg-secondary text-light;
  }

  .btn-primary:hover {
    @apply bg-light text-primary;
  }

  .btn-secondary:hover {
    @apply bg-light text-secondary;
  }

  .field {
    @apply flex flex-col gap-2
  }

  label {
    @apply uppercase text-sm text-primary;
    font-weight: var(--font-weight-medium);
  }

  input {
    @apply rounded border border-dark bg-white py-1.5 px-2 mb-4;
  }
}
